# Rust
kernel/target/
bootloader/target/
xtask/target
target/
**/*.o

# Build output
build/
*.img
*.bin
**/*.elf
BOOTX64.EFI

# Firmware vars
NvVars

# context
.project_context.md

# C stdlib (please understand for now)
musl/
